/*
* 
* @author Lucas Reis
*/

html, body, #home {
    border: 1px;
    height: 100%;
}

body {
    background: rgba(179, 187, 192, 0.318);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
}


nav.navbar-transparente {
    padding: 15px 0px;
    background: rgb(122, 134, 140);
}

.navbar-light .nabar-nav .nav-link:hover {
    color:black
}

.navbar-light .navbar-toggle {
    color: rgba(0, 0,0, .5);
    border-color:rgba(255, 255,255, 2.1)
}

.divisor {
    width: 1px;
    background: rgb(59, 58, 58);
}

/* ___capa____ */

.capa {
    text-align: center;
}

/* Tipografia */
h1 {
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-top: auto;
    margin-bottom: 50px;
    color: black;
    font-size: 5em;
}

.button {
    align-self: center;
}

video {
    margin: auto;
    align-items: center;
}

footer {
    margin-top: 30px;
}